beautifulsoup4==4.13.4
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
contourpy==1.3.2
curl_cffi==0.11.1
cycler==0.12.1
fonttools==4.58.1
frozendict==2.4.6
idna==3.10
joblib==1.5.1
kiwisolver==1.4.8
lxml==5.4.0
matplotlib==3.10.3
mplfinance==0.12.10b0
multitasking==0.0.11
nltk==3.9.1
numpy==2.2.6
packaging==25.0
pandas==2.2.3
pandas-datareader==0.10.0
peewee==3.18.1
pillow==11.2.1
platformdirs==4.3.8
protobuf==6.31.1
pycparser==2.22
pynance==1.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.3
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
ta-lib @ file:///C:/Users/Lenovo/Downloads/ta_lib-0.6.3-cp313-cp313-win_amd64.whl#sha256=2041615b4181c3effc89e270e450e69f16aa04b5b02ab5531e6530f9b2d2528b
textblob==0.19.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
websockets==15.0.1
yfinance==0.2.61
